<a href="https://colab.research.google.com/github/PrintTrd/elgo_data_pipeline/blob/main/..%5Cscripts%5CPreprocess_dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Sales Dataset Processing

ข้อมูล Business Sales Dataset ที่ได้มาจากคนรู้จักนั้น มีทั้งหมด 14 tables ซึ่งมาจาก database ที่ยังไม่นิ่ง ไม่ได้ผ่านการออกแบบมาดี มีความซ้ำซ้อนอยู่มาก และรับข้อมูลมาจากหลายช่องทางการขาย/platform รวมกัน หลังจากดูข้อมูลคร่าว ๆ ก็ได้ไปคุยกับเจ้าของข้อมูลเพื่อทำความเข้าใจมากขึ้น

## Data integration
เนื่องจากมีความซ้ำซ้อนอยู่มากจึงต้อง normalize ข้อมูล โดยเริ่มจากการไปช่วยออกแบบ ER diagrams ให้ใหม่ก่อน เพื่อวางแผนหน้าตาโครงสร้างข้อมูลใหม่ที่เราควรจะแปลงไปด้วย

หลังจากออกแบบใหม่ก็จะเลือกตัดส่วนที่ดูไม่เกี่ยวข้องกับการขายออกไปบางส่วน เช่น table inventory_input ที่เกี่ยวข้องกับการจัดการ stock สินค้า เพื่อนำมาใช้กับโปรเจคนี้ และข้อมูลบางส่วนก็จะไม่ได้ normalize จนเป็นหน่วยเล็กที่สุด ออกแบบจนได้ ER diagram เป้าหมายออกมาดังภาพ

![](https://drive.google.com/uc?export=view&id=15IVQGpYuX6pkeUbAQVbwUNkN5HxD7I5E)
จากภาพ บางคอลัมน์ที่ยังไม่มีการเก็บข้อมูลเพิ่มเข้ามาก็จะข้ามไปก่อน

## Data Integration Plan Steps

1. Extract and rename tables

2. Transform - Schema/Value Integration <br>
- Rename columns
- Change format and add day
- รวม data
- แยก data
- สร้าง fake values
- สรุปผลข้อมูล
- Check Value

3.   Load - Insert data into MySQL Database
     - อ่าน Secrets ของ Colab (เก็บลง class Config)
     - ใช้ Sqlalchemy เชื่อมต่อไปที่ MySQL
     - สร้าง Schema (database)
     - Insert ข้อมูลลงใน tables

4.   Query ข้อมูลใน table และเซฟ output
     - Query ข้อมูลด้วย Pandas
     - Output ไฟล์เป็น parquet

5.   ทดลองอ่านไฟล์ parquet เพื่อตรวจสอบ

# Step 1) Download and extract

##  Rename tables
- Geocoding -> address
-  item_inventory -> inventory
- product_code -> product
- color_code -> color
- material_code -> material
- size_code -> size

โหลดไฟล์ข้อมูล csv มาใส่ Notebook จากนั้นย้ายที่เก็บ และเปลี่ยนชื่อใหม่

In [1]:
!mv 'elgo_source_database - sale_order.csv' sale_order.csv
!mv 'elgo_source_database - cn_order.csv' canceled_order.csv
!mv 'elgo_source_database - inventory_output.csv' order_item.csv
!mv 'elgo_source_database - cn_item.csv' canceled_item.csv

!mv 'elgo_source_database - awb_info.csv' waybill.csv
!mv 'elgo_source_database - Geocoding.csv' address.csv
!mv 'elgo_source_database - customer_code.csv' customer_code.csv

!mv 'elgo_source_database - item_inventory.csv' inventory.csv
!mv 'elgo_source_database - product_code.csv' product_code.csv
!mv 'elgo_source_database - color_code.csv' color_code.csv
!mv 'elgo_source_database - material_code.csv' material_code.csv
!mv 'elgo_source_database - size_code.csv' size_code.csv
!mv 'elgo_source_database - Price.csv' price.csv

## Read CSV

สร้าง Dataframes

In [6]:
import polars as pl
dataframes = {}
csv_list = ["sale_order", "canceled_order", "order_item", "canceled_item", "waybill", "address", "customer_code", "inventory", "product_code", "color_code", "material_code", "size_code", "price"]
for file_name in csv_list:
  dataframes[f'{file_name}'] = pl.read_csv(f'{file_name}.csv', has_header=True, infer_schema_length=10000, null_values=["COMPUTED_VALUE"])

In [19]:
dataframes

{'sale_order': shape: (1_468, 18)
 ┌──────────┬────────────┬────────────┬────────────┬───┬───────────┬───────────┬───────────┬────────┐
 │ order_id ┆ updated_at ┆ created_at ┆ invoice_nu ┆ … ┆ customer  ┆ customer  ┆ shiping_s ┆ status │
 │ ---      ┆ ---        ┆ ---        ┆ mber       ┆   ┆ tel       ┆ email     ┆ tatus     ┆ ---    │
 │ str      ┆ str        ┆ str        ┆ ---        ┆   ┆ ---       ┆ ---       ┆ ---       ┆ str    │
 │          ┆            ┆            ┆ str        ┆   ┆ str       ┆ str       ┆ str       ┆        │
 ╞══════════╪════════════╪════════════╪════════════╪═══╪═══════════╪═══════════╪═══════════╪════════╡
 │ 65272231 ┆ 6/17/2023  ┆ 6/17/2023  ┆ IV2306A001 ┆ … ┆ null      ┆ null      ┆ done      ┆ null   │
 │          ┆ 15:36:55   ┆ 15:36:55   ┆ 6          ┆   ┆           ┆           ┆           ┆        │
 │ 574db9e2 ┆ 6/17/2023  ┆ 6/17/2023  ┆ IV2306A001 ┆ … ┆ null      ┆ null      ┆ done      ┆ null   │
 │          ┆ 16:31:53   ┆ 16:31:53   ┆ 7          ┆   ┆           ┆           ┆           ┆        │
 │ 547d27f1 ┆ 6/17/2023  ┆ 6/17/2023  ┆ IV2306A002 ┆ … ┆ null      ┆ null      ┆ done      ┆ null   │
 │          ┆ 16:36:52   ┆ 16:36:52   ┆ 1          ┆   ┆           ┆           ┆           ┆        │
 │ 79d68bd1 ┆ 6/18/2023  ┆ 6/18/2023  ┆ IV2306A002 ┆ … ┆ null      ┆ null      ┆ done      ┆ null   │
 │          ┆ 14:09:00   ┆ 14:09:00   ┆ 2          ┆   ┆           ┆           ┆           ┆        │
 │ …        ┆ …          ┆ …          ┆ …          ┆ … ┆ …         ┆ …         ┆ …         ┆ …      │
 │ 59c79e22 ┆ 08/08/2024 ┆ 08/08/2024 ┆ IV2408A002 ┆ … ┆ 669619644 ┆ null      ┆ shipping  ┆ null   │
 │          ┆ 08:47:30   ┆ 08:46:15   ┆ 8          ┆   ┆ 56        ┆           ┆           ┆        │
 │ 1289dbbc ┆ 08/08/2024 ┆ 08/08/2024 ┆ IV2408A002 ┆ … ┆ 668189148 ┆ null      ┆ shipping  ┆ null   │
 │          ┆ 08:52:17   ┆ 08:50:51   ┆ 9          ┆   ┆ 69        ┆           ┆           ┆        │
 │ 84b26708 ┆ 08/08/2024 ┆ 08/08/2024 ┆ IV2408A003 ┆ … ┆ 668967878 ┆ null      ┆ shipping  ┆ null   │
 │          ┆ 14:15:24   ┆ 14:14:18   ┆ 0          ┆   ┆ 66        ┆           ┆           ┆        │
 │ 5018ef6b ┆ 08/08/2024 ┆ 08/08/2024 ┆ IV2408A003 ┆ … ┆ 669562659 ┆ null      ┆ shipping  ┆ null   │
 │          ┆ 14:47:32   ┆ 14:46:31   ┆ 1          ┆   ┆ 68        ┆           ┆           ┆        │
 └──────────┴────────────┴────────────┴────────────┴───┴───────────┴───────────┴───────────┴────────┘,
 'canceled_order': shape: (20, 17)
 ┌───────────┬────────────┬────────────┬──────────┬───┬────────────┬───────────┬───────────┬────────┐
 │ cancel_id ┆ updated_at ┆ created_at ┆ order_id ┆ … ┆ shipping   ┆ customer  ┆ cancel_re ┆ status │
 │ ---       ┆ ---        ┆ ---        ┆ ---      ┆   ┆ address    ┆ tel       ┆ ason      ┆ ---    │
 │ str       ┆ str        ┆ str        ┆ str      ┆   ┆ ---        ┆ ---       ┆ ---       ┆ str    │
 │           ┆            ┆            ┆          ┆   ┆ str        ┆ i64       ┆ str       ┆        │
 ╞═══════════╪════════════╪════════════╪══════════╪═══╪════════════╪═══════════╪═══════════╪════════╡
 │ null      ┆ null       ┆ null       ┆ null     ┆ … ┆ null       ┆ null      ┆ null      ┆ null   │
 │ null      ┆ null       ┆ null       ┆ null     ┆ … ┆ null       ┆ null      ┆ null      ┆ null   │
 │ 93339d0c  ┆ 01/03/2024 ┆ 01/03/2024 ┆ ee066971 ┆ … ┆ null       ┆ 923750555 ┆ ออกบิลใหม่เ ┆ null   │
 │           ┆ 00:00:00   ┆            ┆          ┆   ┆            ┆           ┆ นื่องจากปิดร ┆        │
 │           ┆            ┆            ┆          ┆   ┆            ┆           ┆ อบบิลแล้ว   ┆        │
 │ 77f53cb8  ┆ 29/02/2024 ┆ 03/03/2024 ┆ 094636c1 ┆ … ┆ 11 kasem   ┆ 669677557 ┆ เบอร์ผิด    ┆ null   │
 │           ┆ 00:00:00   ┆            ┆          ┆   ┆ samran soi ┆ 27        ┆           ┆        │
 │           ┆            ┆            ┆          ┆   ┆ 4 watthana ┆           ┆           ┆        │
 │           ┆            ┆            ┆          ┆   ┆ p…         ┆           ┆           ┆        │
 │ …         ┆ …          ┆ …          ┆ …        ┆ … ┆ …          ┆ …         ┆ …         ┆ …      │
 │ 0b801279  ┆ 13/06/2024 ┆ 13/06/2024 ┆ 6a686ca3 ┆ … ┆ 191 หมู่4    ┆ 668139366 ┆ พ่อเป็นมะเร็ ┆ null   │
 │           ┆ 00:00:00   ┆            ┆          ┆   ┆ ต.เช้ือเพลิง  ┆ 43        ┆ งตับ ไม่ต้อง ┆        │
 │           ┆            ┆            ┆          ┆   ┆ (เย้ืองมห…   ┆           ┆ ใช้แล้ว     ┆        │
 │ 01c667d3  ┆ 13/06/2024 ┆ 13/06/2024 ┆ aa68c2ff ┆ … ┆ 290        ┆ null      ┆ ดึกแล้วรับขอ ┆ null   │
 │           ┆ 00:00:00   ┆            ┆          ┆   ┆ ซ.สิรินธร 2  ┆           ┆ งพรุ่งนี่     ┆        │
 │           ┆            ┆            ┆          ┆   ┆ (แยก11)    ┆           ┆           ┆        │
 │           ┆            ┆            ┆          ┆   ┆ ถ.สิรินธ…    ┆           ┆           ┆        │
 │ 5c06532b  ┆ 09/07/2024 ┆ 09/07/2024 ┆ d2e618a8 ┆ … ┆ 33 ซ.      ┆ 669792495 ┆ จัดส่งไม่สำเ ┆ null   │
 │           ┆ 00:00:00   ┆            ┆          ┆   ┆ สุขุมวิท 3    ┆ 95        ┆ ร็จ        ┆        │
 │           ┆            ┆            ┆          ┆   ┆ แขวงคลองเต ┆           ┆           ┆        │
 │           ┆            ┆            ┆          ┆   ┆ ยเหนื…      ┆           ┆           ┆        │
 │ 93af7caa  ┆ 07/08/2024 ┆ 07/08/2024 ┆ 78742cf8 ┆ … ┆ เลขที่       ┆ 668590815 ┆ ผู้ป่วยเข้า   ┆ null   │
 │           ┆ 00:00:00   ┆            ┆          ┆   ┆ 178/87,    ┆ 82        ┆ รพ        ┆        │
 │           ┆            ┆            ┆          ┆   ┆ เลคไซร์     ┆           ┆ กระทันหัน   ┆        │
 │           ┆            ┆            ┆          ┆   ┆ เลน4 สนาม… ┆           ┆           ┆        │
 └───────────┴────────────┴────────────┴──────────┴───┴────────────┴───────────┴───────────┴────────┘,
 'order_item': shape: (1_789, 15)
 ┌──────────┬─────────────┬──────────┬────────────┬───┬────────────┬──────────┬────────────┬────────┐
 │ id       ┆ sell out    ┆ order id ┆ master     ┆ … ┆ quantity   ┆ quantity ┆ price per  ┆ total  │
 │ ---      ┆ date        ┆ ---      ┆ product    ┆   ┆ (pack)     ┆ ---      ┆ pack (ex   ┆ amount │
 │ str      ┆ ---         ┆ str      ┆ code       ┆   ┆ ---        ┆ i64      ┆ vat)       ┆ ---    │
 │          ┆ str         ┆          ┆ ---        ┆   ┆ i64        ┆          ┆ ---        ┆ f64    │
 │          ┆             ┆          ┆ str        ┆   ┆            ┆          ┆ f64        ┆        │
 ╞══════════╪═════════════╪══════════╪════════════╪═══╪════════════╪══════════╪════════════╪════════╡
 │ 70427678 ┆ 6/17/2023   ┆ 65272231 ┆ EP-012-F-0 ┆ … ┆ 2          ┆ 2        ┆ 1028.03738 ┆ 2200.0 │
 │          ┆ 15:36:55    ┆          ┆ 1-A007     ┆   ┆            ┆          ┆ 3          ┆        │
 │ 9c69cd6d ┆ 6/17/2023   ┆ 65272231 ┆ EP-011-F-0 ┆ … ┆ 2          ┆ 2        ┆ 822.429907 ┆ 1760.0 │
 │          ┆ 15:44:40    ┆          ┆ 1-A002     ┆   ┆            ┆          ┆            ┆        │
 │ 3082b336 ┆ 6/17/2023   ┆ 574db9e2 ┆ EP-006-M-0 ┆ … ┆ 1          ┆ 1        ┆ 0.0        ┆ 0.0    │
 │          ┆ 16:31:53    ┆          ┆ 2-A001     ┆   ┆            ┆          ┆            ┆        │
 │ d56b8678 ┆ 6/17/2023   ┆ 574db9e2 ┆ EP-021-F-0 ┆ … ┆ 1          ┆ 1        ┆ 0.0        ┆ 0.0    │
 │          ┆ 16:36:05    ┆          ┆ 1-A020     ┆   ┆            ┆          ┆            ┆        │
 │ …        ┆ …           ┆ …        ┆ …          ┆ … ┆ …          ┆ …        ┆ …          ┆ …      │
 │ 96db5d43 ┆ 08/08/2024  ┆ 59c79e22 ┆ EP-011-F-0 ┆ … ┆ 1          ┆ null     ┆ 822.429907 ┆ 880.0  │
 │          ┆ 08:46:34    ┆          ┆ 1-A009     ┆   ┆            ┆          ┆            ┆        │
 │ 7f6face9 ┆ 08/08/2024  ┆ 1289dbbc ┆ EP-002-M-0 ┆ … ┆ 1          ┆ null     ┆ 1775.70093 ┆ 1900.0 │
 │          ┆ 08:51:19    ┆          ┆ 2-A008     ┆   ┆            ┆          ┆ 5          ┆        │
 │ 4c6a1497 ┆ 08/08/2024  ┆ 84b26708 ┆ EP-002-L-0 ┆ … ┆ 1          ┆ null     ┆ 2056.07476 ┆ 2200.0 │
 │          ┆ 14:14:32    ┆          ┆ 2-A005     ┆   ┆            ┆          ┆ 6          ┆        │
 │ f5b77906 ┆ 08/08/2024  ┆ 5018ef6b ┆ EP-011-F-0 ┆ … ┆ 1          ┆ null     ┆ 822.429907 ┆ 880.0  │
 │          ┆ 14:46:48    ┆          ┆ 1-A009     ┆   ┆            ┆          ┆            ┆        │
 └──────────┴─────────────┴──────────┴────────────┴───┴────────────┴──────────┴────────────┴────────┘,
 'canceled_item': shape: (18, 11)
 ┌──────────┬──────────┬────────────┬────────────┬───┬────────────┬────────────┬───────────┬────────┐
 │ id       ┆ cn id    ┆ readable   ┆ master     ┆ … ┆ price per  ┆ pcs per    ┆ quantity  ┆ total  │
 │ ---      ┆ ---      ┆ name       ┆ product    ┆   ┆ pack       ┆ pack       ┆ (pack)    ┆ amount │
 │ str      ┆ str      ┆ ---        ┆ code       ┆   ┆ ---        ┆ ---        ┆ ---       ┆ ---    │
 │          ┆          ┆ str        ┆ ---        ┆   ┆ i64        ┆ i64        ┆ i64       ┆ i64    │
 │          ┆          ┆            ┆ str        ┆   ┆            ┆            ┆           ┆        │
 ╞══════════╪══════════╪════════════╪════════════╪═══╪════════════╪════════════╪═══════════╪════════╡
 │ 1dcc08c8 ┆ 93339d0c ┆ 7f75f77c   ┆ EP-004-L-0 ┆ … ┆ 2500       ┆ 1          ┆ 1         ┆ 2500   │
 │          ┆          ┆            ┆ 1-A000     ┆   ┆            ┆            ┆           ┆        │
 │ 03563dac ┆ 77f53cb8 ┆ f2f05ac4   ┆ EP-011-F-0 ┆ … ┆ 880        ┆ 2          ┆ 1         ┆ 880    │
 │          ┆          ┆            ┆ 1-A021     ┆   ┆            ┆            ┆           ┆        │
 │ cbd09247 ┆ 5a03509a ┆ 45e38e8e   ┆ EP-011-F-0 ┆ … ┆ 880        ┆ 2          ┆ 1         ┆ 880    │
 │          ┆          ┆            ┆ 1-A021     ┆   ┆            ┆            ┆           ┆        │
 │ f5944f71 ┆ 9a0e9066 ┆ a67ba987   ┆ EP-011-F-0 ┆ … ┆ 460        ┆ 1          ┆ 1         ┆ 460    │
 │          ┆          ┆            ┆ 1-A009     ┆   ┆            ┆            ┆           ┆        │
 │ …        ┆ …        ┆ …          ┆ …          ┆ … ┆ …          ┆ …          ┆ …         ┆ …      │
 │ 573d2494 ┆ 0b801279 ┆ 668ac5af   ┆ EP-002-M-0 ┆ … ┆ 1900       ┆ 1          ┆ 1         ┆ 1900   │
 │          ┆          ┆            ┆ 2-A007     ┆   ┆            ┆            ┆           ┆        │
 │ e60c0450 ┆ 01c667d3 ┆ 7bff4f4c   ┆ EP-002-L-0 ┆ … ┆ 2200       ┆ 1          ┆ 1         ┆ 2200   │
 │          ┆          ┆            ┆ 2-A007     ┆   ┆            ┆            ┆           ┆        │
 │ 96d5eae9 ┆ 5c06532b ┆ 4671c126   ┆ EP-011-F-0 ┆ … ┆ 880        ┆ 2          ┆ 1         ┆ 880    │
 │          ┆          ┆            ┆ 1-A009     ┆   ┆            ┆            ┆           ┆        │
 │ e9ead425 ┆ 93af7caa ┆ d2d2c975   ┆ EP-001-L-0 ┆ … ┆ 1700       ┆ 1          ┆ 1         ┆ 1700   │
 │          ┆          ┆            ┆ 1-A023     ┆   ┆            ┆            ┆           ┆        │
 └──────────┴──────────┴────────────┴────────────┴───┴────────────┴────────────┴───────────┴────────┘,
 'waybill': shape: (1_539, 15)
 ┌────────────┬────────────┬───────┬──────────┬───┬────────────┬────────────┬───────────┬───────────┐
 │ ordernumbe ┆ file       ┆ image ┆ platform ┆ … ┆ tracking_n ┆ invoice_nu ┆ awb_forma ┆ sales_cha │
 │ r          ┆ ---        ┆ ---   ┆ ---      ┆   ┆ umber      ┆ mber       ┆ t         ┆ nnel_id   │
 │ ---        ┆ str        ┆ str   ┆ str      ┆   ┆ ---        ┆ ---        ┆ ---       ┆ ---       │
 │ str        ┆            ┆       ┆          ┆   ┆ str        ┆ str        ┆ str       ┆ i64       │
 ╞════════════╪════════════╪═══════╪══════════╪═══╪════════════╪════════════╪═══════════╪═══════════╡
 │ 2305291NYQ ┆ D:\dump_aw ┆ null  ┆ Shopee   ┆ … ┆ null       ┆ null       ┆ null      ┆ null      │
 │ K9P2       ┆ b\0079a6b9 ┆       ┆          ┆   ┆            ┆            ┆           ┆           │
 │            ┆ -ca7f-4009 ┆       ┆          ┆   ┆            ┆            ┆           ┆           │
 │            ┆ -a…        ┆       ┆          ┆   ┆            ┆            ┆           ┆           │
 │ 221119FDQB ┆ D:\dump_aw ┆ null  ┆ Shopee   ┆ … ┆ null       ┆ null       ┆ null      ┆ null      │
 │ 84GV       ┆ b\00f751da ┆       ┆          ┆   ┆            ┆            ┆           ┆           │
 │            ┆ -83e3-41f5 ┆       ┆          ┆   ┆            ┆            ┆           ┆           │
 │            ┆ -9…        ┆       ┆          ┆   ┆            ┆            ┆           ┆           │
 │ 2301259TAW ┆ D:\dump_aw ┆ null  ┆ Shopee   ┆ … ┆ null       ┆ null       ┆ null      ┆ null      │
 │ BN1C       ┆ b\013b9add ┆       ┆          ┆   ┆            ┆            ┆           ┆           │
 │            ┆ -88bd-4778 ┆       ┆          ┆   ┆            ┆            ┆           ┆           │
 │            ┆ -b…        ┆       ┆          ┆   ┆            ┆            ┆           ┆           │
 │ 2312242V37 ┆ D:\dump_aw ┆ null  ┆ Shopee   ┆ … ┆ null       ┆ null       ┆ null      ┆ null      │
 │ WRK1       ┆ b\018eac0a ┆       ┆          ┆   ┆            ┆            ┆           ┆           │
 │            ┆ -41c0-4fbb ┆       ┆          ┆   ┆            ┆            ┆           ┆           │
 │            ┆ -8…        ┆       ┆          ┆   ┆            ┆            ┆           ┆           │
 │ …          ┆ …          ┆ …     ┆ …        ┆ … ┆ …          ┆ …          ┆ …         ┆ …         │
 │ 240808NT52 ┆ IV2408A002 ┆ null  ┆ Shopee   ┆ … ┆ EB64559166 ┆ IV2408A002 ┆ Shopee    ┆ 5         │
 │ GMWC       ┆ 9-SH.pdf   ┆       ┆          ┆   ┆ 1TH        ┆ 9          ┆           ┆           │
 │ 240808PY83 ┆ IV2408A003 ┆ null  ┆ Shopee   ┆ … ┆ EB64583005 ┆ IV2408A003 ┆ Shopee    ┆ 5         │
 │ BY8V       ┆ 0-SH.pdf   ┆       ┆          ┆   ┆ 2TH        ┆ 0          ┆           ┆           │
 │ 240808Q990 ┆ IV2408A003 ┆ null  ┆ Shopee   ┆ … ┆ EB64590349 ┆ IV2408A003 ┆ Shopee    ┆ 5         │
 │ HVR1       ┆ 1-SH.pdf   ┆       ┆          ┆   ┆ 7TH        ┆ 1          ┆           ┆           │
 │ SM00000001 ┆ EV2408A000 ┆ null  ┆ line oa  ┆ … ┆ EB04577980 ┆ EV2408A000 ┆ Goship    ┆ 3         │
 │ 80         ┆ 4-GS.pdf   ┆       ┆          ┆   ┆ 2TH        ┆ 4          ┆           ┆           │
 └────────────┴────────────┴───────┴──────────┴───┴────────────┴────────────┴───────────┴───────────┘,
 'address': shape: (50, 4)
 ┌─────────────────────────────────┬───────────┬────────────┬──────┐
 │ addresskey                      ┆ latitude  ┆ longitude  ┆ flag │
 │ ---                             ┆ ---       ┆ ---        ┆ ---  │
 │ str                             ┆ f64       ┆ f64        ┆ str  │
 ╞═════════════════════════════════╪═══════════╪════════════╪══════╡
 │ 127/83 ม.ศรีราชาแลนด์#1 ถ.สุขุมว…   ┆ 12.782018 ┆ 101.647231 ┆ null │
 │ บริษัท นาโน เบสท์ อินเตอร์เนชั่น…      ┆ 13.836925 ┆ 100.587453 ┆ null │
 │ 56/69ม6ซอย หนองใหญ่6/1 ต นาเกลือ… ┆ 12.948177 ┆ 100.911184 ┆ null │
 │ 11/2 ถนนสุขุมวิท ซอยสุขุมวิท 18,…     ┆ 13.739566 ┆ 100.556171 ┆ null │
 │ …                               ┆ …         ┆ …          ┆ …    │
 │ 4 พหลโยธิน 63 แยก 2 แขวงอนุสาวรี…  ┆ 13.886031 ┆ 100.597801 ┆ null │
 │ 222/315 ซอย 9 หมู่ 3 หมู่บ้านลุม…     ┆ 13.912735 ┆ 100.407969 ┆ null │
 │ 77/46 ม.4 ต.บา้นฉาง,บา้นฉาง/ Ban… ┆ 12.71111  ┆ 101.050057 ┆ null │
 │ เลขที่ 377 ถนนราษฎร์พัฒนา แขวงบา…   ┆ 13.677927 ┆ 100.502793 ┆ null │
 └─────────────────────────────────┴───────────┴────────────┴──────┘,
 'customer_code': shape: (96, 14)
 ┌────────┬──────────┬────────┬──────────────┬───┬──────────┬──────────────┬──────────────┬─────────┐
 │ code   ┆ category ┆ number ┆ name         ┆ … ┆ contact  ┆ description  ┆ channel      ┆ require │
 │ ---    ┆ ---      ┆ ---    ┆ ---          ┆   ┆ person   ┆ ---          ┆ catagory     ┆ tax     │
 │ str    ┆ str      ┆ i64    ┆ str          ┆   ┆ ---      ┆ str          ┆ ---          ┆ ---     │
 │        ┆          ┆        ┆              ┆   ┆ str      ┆              ┆ str          ┆ bool    │
 ╞════════╪══════════╪════════╪══════════════╪═══╪══════════╪══════════════╪══════════════╪═════════╡
 │ A002   ┆ A        ┆ 2      ┆ บ.มหาชัยฟู๊ดส์   ┆ … ┆ null     ┆ ซื้อน้ำมัน palm  ┆ Food Factory ┆ true    │
 │        ┆          ┆        ┆ จก.          ┆   ┆          ┆ olein        ┆              ┆         │
 │ A015   ┆ A        ┆ 15     ┆ บริษัท เจดีฟู้ด   ┆ … ┆ null     ┆ null         ┆ Food Factory ┆ true    │
 │        ┆          ┆        ┆ จำกัด(มหาชน)  ┆   ┆          ┆              ┆              ┆         │
 │ A016   ┆ A        ┆ 16     ┆ บริษัท เจดีฟู้ด   ┆ … ┆ null     ┆ null         ┆ Food Factory ┆ true    │
 │        ┆          ┆        ┆ จำกัด(มหาชน)  ┆   ┆          ┆              ┆              ┆         │
 │ A001   ┆ A        ┆ 1      ┆ บ.แอลไลด์เคมีเ ┆ … ┆ null     ┆ null         ┆ Food Factory ┆ true    │
 │        ┆          ┆        ┆ คิลอินเตอร์เนชั่น ┆   ┆          ┆              ┆              ┆         │
 │        ┆          ┆        ┆ แ…           ┆   ┆          ┆              ┆              ┆         │
 │ …      ┆ …        ┆ …      ┆ …            ┆ … ┆ …        ┆ …            ┆ …            ┆ …       │
 │ EH0092 ┆ EH       ┆ 90     ┆ หจก.พรรษาเวช ┆ … ┆ สุพรรษา   ┆ ขายต่อโรงพยาบ ┆ Medical Shop ┆ true    │
 │        ┆          ┆        ┆ ภัณฑ์          ┆   ┆ บำรุงวงค์  ┆ าล           ┆              ┆         │
 │ EH0093 ┆ EH       ┆ 91     ┆ บจ. ธนบุรี     ┆ … ┆ null     ┆ null         ┆ nursing home ┆ null    │
 │        ┆          ┆        ┆ เวลบีอิ้ง       ┆   ┆          ┆              ┆              ┆         │
 │ EH0094 ┆ EH       ┆ 92     ┆ บจ.สุขภาพดี-อา ┆ … ┆ K Nunat  ┆ null         ┆ Hospital     ┆ true    │
 │        ┆          ┆        ┆ ยุยืน การแพทย์  ┆   ┆          ┆              ┆              ┆         │
 │ EH0095 ┆ EH       ┆ 93     ┆ บจ.คลังสุขภาพ  ┆ … ┆ คุณ วุฒ    ┆ null         ┆ Medical Shop ┆ false   │
 │        ┆          ┆        ┆              ┆   ┆ ธนวิชชบูรณ์ ┆              ┆              ┆         │
 └────────┴──────────┴────────┴──────────────┴───┴──────────┴──────────────┴──────────────┴─────────┘,
 'inventory': shape: (90, 21)
 ┌──────────────┬─────────┬──────────────┬─────────────┬───┬────────┬─────────┬─────────┬───────────┐
 │ Product Name ┆ Product ┆ Colour Name  ┆ Colour Code ┆ … ┆ TikTok ┆ Balance ┆ minimum ┆ status    │
 │ ---          ┆ Code    ┆ ---          ┆ ---         ┆   ┆ ---    ┆ ---     ┆ ---     ┆ ---       │
 │ str          ┆ ---     ┆ str          ┆ str         ┆   ┆ i64    ┆ i64     ┆ i64     ┆ str       │
 │              ┆ str     ┆              ┆             ┆   ┆        ┆         ┆         ┆           │
 ╞══════════════╪═════════╪══════════════╪═════════════╪═══╪════════╪═════════╪═════════╪═══════════╡
 │ Smart        ┆ EP-002  ┆ น้ำเงินกรมท่า   ┆ 02-A001     ┆ … ┆ 0      ┆ 0       ┆ 5       ┆ LOW STOCK │
 │ Smart        ┆ EP-002  ┆ น้ำเงินกรมท่า   ┆ 02-A001     ┆ … ┆ 0      ┆ 0       ┆ 5       ┆ LOW STOCK │
 │ Smart        ┆ EP-002  ┆ น้ำเงินแกมเงิน  ┆ 02-A002     ┆ … ┆ 1      ┆ -8      ┆ 5       ┆ LOW STOCK │
 │ Smart        ┆ EP-002  ┆ น้ำเงินแกมเงิน  ┆ 02-A002     ┆ … ┆ 3      ┆ -14     ┆ 5       ┆ LOW STOCK │
 │ …            ┆ …       ┆ …            ┆ …           ┆ … ┆ …      ┆ …       ┆ …       ┆ …         │
 │ ที่วางเท้ารถเข็น ┆ EP-027  ┆ เขียว         ┆ 02-A004     ┆ … ┆ 0      ┆ -1      ┆ 1       ┆ LOW STOCK │
 │ Papoose      ┆ EP-009  ┆ ไม่มีรหัสสี      ┆ 01-A000     ┆ … ┆ 0      ┆ 1       ┆ 1       ┆ LOW STOCK │
 │ Board        ┆         ┆              ┆             ┆   ┆        ┆         ┆         ┆           │
 │ ผ้ายกตัว ELGO  ┆ EP-001  ┆ เหลือง        ┆ 01-A024     ┆ … ┆ 0      ┆ 3       ┆ 1       ┆ OK        │
 │ SOFT         ┆         ┆              ┆             ┆   ┆        ┆         ┆         ┆           │
 │ ฟองน้ำผ้ายกต้ว  ┆ EP-025  ┆ ไม่มีรหัสสี      ┆ 01-A000     ┆ … ┆ 0      ┆ 1       ┆ 1       ┆ LOW STOCK │
 │ ELGO SOFT    ┆         ┆              ┆             ┆   ┆        ┆         ┆         ┆           │

## Drop and rename columns

### sale_order
  - id -> order_id
  - record date ->  updated_at
  - sell out date -> created_at
  - invoice no2 -> invoice_number
  - order number -> order_number
  - sales channel -> sales_channel
  - require vat -> require_vat
  - shipping charges -> shipping_charge
  - discount bath -> discount_baht
  - customer code -> customer_category_id
  - customer name -> customer_name
  - customer tax id -> tax_id
  - customer address -> billing_address
  - shipping address -> shipping_address
  - customer tel -> phone
  - customer email -> email
  - Status -> status

In [ ]:
dataframes["sale_order"].columns

In [13]:
dataframes["sale_order"] = dataframes["sale_order"].drop(columns=['invoice no', 'invoice folder', 'invoice page', 'note', 'pdf', "shiping_status"])

In [14]:
dataframes["sale_order"] = dataframes["sale_order"].rename({
    "id": "order_id",
    "record date": "updated_at",
    "sell out date": "created_at",
    "invoice no2": "invoice_number",
    "order number": "order_number",
    "sales channel": "sales_channel",
    "require vat": "require_vat",
    "shipping charges": "shipping_charge",
    "discount bath": "discount_baht",
    "customer code": "customer_category_id",
    "customer name": "name",
    "customer tax id": "tax_id",
    "customer address": "billing_address",
    "shipping address": "shipping_address",
    "customer tel": "phone",
    "customer email": "email",
    "Status":"status"
})
dataframes["sale_order"].columns

['order_id',
 'updated_at',
 'created_at',
 'invoice_number',
 'order_number',
 'sales_channel',
 'require_vat',
 'shipping_charge',
 'discount_baht',
 'customer code',
 'customer name',
 'customer tax id',
 'customer address',
 'shipping address',
 'customer tel',
 'customer email',
 'shiping_status',
 'status']

### canceled_order
  - id -> canceled_id: ไว้เชื่อมกับ cn_item ก่อน
  - creditnote no -> updated_at
  - issue date -> created_at
  - invoice id -> invoice_number (ต้องตัด -CN ที่อยู่ท้าย invoice id ไปลงใน status แทน)
  - note -> cancel_reason
  - ...นอกนั้นคล้ายที่แก้ให้ sale_order ไป...

In [ ]:
dataframes["canceled_order"].columns

In [16]:
dataframes["canceled_order"] = dataframes["canceled_order"].drop(columns=['invoice folder', 'invoice page', 'customer tax id','customer email','pdf', 'shiping_status', 'image'])

In [17]:
dataframes["canceled_order"] = dataframes["canceled_order"].rename({
    "id": "cancel_id",
    "creditnote no": "updated_at",
    "issue date": "created_at",
    "invoice id": "invoice_number",
    "order number": "order_number",
    "sales channel": "sales_channel",
    "require vat": "require_vat",
    "shipping charges": "shipping_charge",
    "discount bath": "discount_baht",
    "note":"cancel_reason",
    "Status": "status"
})
dataframes["canceled_order"].columns

['cancel_id',
 'updated_at',
 'created_at',
 'order_id',
 'invoice_number',
 'order_number',
 'sales_channel',
 'require_vat',
 'shipping_charge',
 'discount_baht',
 'customer code',
 'customer name',
 'customer address',
 'shipping address',
 'customer tel',
 'cancel_reason',
 'status']

### order_item
  - id -> order_item_id
  - sell out date -> created_at : จะได้รู้ราคาในเวลานั้นได้เร็ว
  - order id -> order_id
  - quantity (pack) -> quantity_pack
  - price per pack -> unit_price
  - price per pack (ex vat) -> unit_price_ex_vat
  - total amount -> total_price

In [20]:
dataframes["order_item"].columns

['id',
 'sell out date',
 'order id',
 'master product code',
 'master product name',
 'readable name',
 'product code',
 'color code',
 'size code',
 'price per pack',
 'pcs per pack',
 'quantity (pack)',
 'quantity',
 'price per pack (ex vat)',
 'total amount']

In [21]:
dataframes["order_item"] = dataframes["order_item"].drop(columns=['master product name', 'readable name', 'product code','color code','size code', 'pcs per pack', 'quantity'])

In [22]:
dataframes["order_item"] = dataframes["order_item"].rename({
    "id": "order_item_id",
    "sell out date": "created_at",
    "order id": "order_id",
    "master product code": "master_product_code",
    "price per pack": "unit_price",
    "price per pack (ex vat)": "unit_price_ex_vat",
    "quantity (pack)": "quantity_pack",
    "total amount": "total_price"
})

['order_item_id',
 'created_at',
 'order_id',
 'master_product_code',
 'unit_price',
 'quantity_pack',
 'unit_price_ex_vat',
 'total_price']

In [29]:
dataframes["order_item"].columns

['order_item_id',
 'created_at',
 'order_id',
 'master_product_code',
 'unit_price',
 'quantity_pack',
 'unit_price_ex_vat',
 'total_price']

### canceled_item
  - id -> order_item_id
  - cn id -> order_id
  - ...นอกนั้นคล้าย inventory_output แต่ข้อมูล created_at ต้องเติมเองอีกที...

In [23]:
dataframes["canceled_item"].columns

['id',
 'cn id',
 'readable name',
 'master product code',
 'product code',
 'size code',
 'color code',
 'price per pack',
 'pcs per pack',
 'quantity (pack)',
 'total amount']

In [26]:
dataframes["canceled_item"] = dataframes["canceled_item"].drop(columns=['readable name', 'product code','color code','size code', 'color code', 'pcs per pack'])

['id',
 'cn id',
 'master product code',
 'price per pack',
 'quantity (pack)',
 'total amount']

In [28]:
dataframes["canceled_item"] = dataframes["canceled_item"].rename({
    "id": "order_item_id",
    "cn id": "order_id",
    "master product code": "master_product_code",
    "price per pack": "unit_price",
    "quantity (pack)": "quantity_pack",
    "total amount": "total_price"
})
dataframes["canceled_item"].columns

['order_item_id',
 'order_id',
 'master_product_code',
 'unit_price',
 'quantity_pack',
 'total_price']

### waybill
  - ordernumber -> order_number
  - address -> shipping_address

In [30]:
dataframes["waybill"].columns

['ordernumber',
 'file',
 'image',
 'platform',
 'name',
 'address',
 'billing_address',
 'phone',
 'price',
 'postcode',
 'ship_date',
 'tracking_number',
 'invoice_number',
 'awb_format',
 'sales_channel_id']

In [31]:
dataframes["waybill"] = dataframes["waybill"].drop(columns=['file', 'image', 'platform', 'price', 'sales_channel_id'])
dataframes["waybill"].columns

In [33]:
dataframes["waybill"] = dataframes["waybill"].rename({
    "ordernumber": "order_number",
    "address": "shipping_address"
})
dataframes["waybill"].columns

['order_number',
 'name',
 'shipping_address',
 'billing_address',
 'phone',
 'postcode',
 'ship_date',
 'tracking_number',
 'invoice_number',
 'awb_format']

### customer_code
  - code -> customer_category_id
  - customer address -> shipping_address
  - billing address -> billing_address
  - tax id -> tax_id
  - tel -> phone
  - description -> note
  - channel catagory -> channel_catagory

In [34]:
dataframes["customer_code"].columns

['code',
 'category',
 'number',
 'name',
 'customer address',
 'billing address',
 'branch',
 'tax id',
 'tel',
 'email',
 'contact person',
 'description',
 'channel catagory',
 'require tax']

In [35]:
customer_code_df = dataframes["customer_code"].drop(columns=['category', 'number', 'contact person', 'require tax'])
customer_code_df.columns

['code',
 'name',
 'customer address',
 'billing address',
 'branch',
 'tax id',
 'tel',
 'email',
 'description',
 'channel catagory']

In [36]:
customer_code_df = customer_code_df.rename({
    "code": "customer_category_id",
    "customer address": "shipping_address",
    "billing address": "billing_address",
    "tax id": "tax_id",
    "tel": "phone",
    "description": "note",
    "channel catagory": "channel_catagory"
})
customer_code_df.columns

['customer_category_id',
 'name',
 'shipping_address',
 'billing_address',
 'branch',
 'tax_id',
 'phone',
 'email',
 'note',
 'channel_catagory']

# Step 2) Transform - Schema/Value Integration

Process ข้อมูลด้วย Polars ในการรวมและแยก Dataset
- เติมและย้ายข้อมูลให้ถูกต้อง
- Change format of day
- รวม data
  - sale_order + cn_order(canceled order) -> sale_order
  - inventory_output + cn_item(canceled item) + Price -> order_item
- แยก data
  - awb_info -> waybill + customer_address(1)
  > เอา platform ออกเพราะมี sales_channel ใน sale_order แล้ว
  - customer_code -> customer + customer_category + customer_address(2)
  >customer code/address/... -> customer_address_id
- สร้าง fake values
- สรุปผลข้อมูล
- Check Value

## เติมช่องว่าง และย้ายข้อมูลให้ถูกต้อง

In [ ]:
# remove "-CN" from invoice_number column
canceled_order_df = canceled_order_df.with_columns(pl.col("invoice_number").str.replace("-CN",""))

In [ ]:
# add "Canceled" to status instead
canceled_order_df = canceled_order_df.with_columns(
    pl.col("status").fill_null(
        "Canceled"
    )
)
canceled_order_df

shape: (20, 17)
┌───────────┬────────────┬───────────┬──────────┬───┬───────────┬───────────┬───────────┬──────────┐
│ cancel_id ┆ updated_at ┆ created_a ┆ order_id ┆ … ┆ shipping  ┆ customer  ┆ cancel_re ┆ status   │
│ ---       ┆ ---        ┆ t         ┆ ---      ┆   ┆ address   ┆ tel       ┆ ason      ┆ ---      │
│ str       ┆ str        ┆ ---       ┆ str      ┆   ┆ ---       ┆ ---       ┆ ---       ┆ str      │
│           ┆            ┆ str       ┆          ┆   ┆ str       ┆ i64       ┆ str       ┆          │
╞═══════════╪════════════╪═══════════╪══════════╪═══╪═══════════╪═══════════╪═══════════╪══════════╡
│ null      ┆ null       ┆ null      ┆ null     ┆ … ┆ null      ┆ null      ┆ null      ┆ Canceled │
│ null      ┆ null       ┆ null      ┆ null     ┆ … ┆ null      ┆ null      ┆ null      ┆ Canceled │
│ 93339d0c  ┆ 01/03/2024 ┆ 01/03/202 ┆ ee066971 ┆ … ┆ null      ┆ 923750555 ┆ ออกบิลใหม่เ ┆ Canceled │
│           ┆ 00:00:00   ┆ 4         ┆          ┆   ┆           ┆           ┆ นื่องจากปิดร ┆          │
│           ┆            ┆           ┆          ┆   ┆           ┆           ┆ อบบิลแล้ว   ┆          │
│ 77f53cb8  ┆ 29/02/2024 ┆ 03/03/202 ┆ 094636c1 ┆ … ┆ 11 kasem  ┆ 669677557 ┆ เบอร์ผิด    ┆ Canceled │
│           ┆ 00:00:00   ┆ 4         ┆          ┆   ┆ samran    ┆ 27        ┆           ┆          │
│           ┆            ┆           ┆          ┆   ┆ soi 4     ┆           ┆           ┆          │
│           ┆            ┆           ┆          ┆   ┆ watthana  ┆           ┆           ┆          │
│           ┆            ┆           ┆          ┆   ┆ p…        ┆           ┆           ┆          │
│ …         ┆ …          ┆ …         ┆ …        ┆ … ┆ …         ┆ …         ┆ …         ┆ …        │
│ 0b801279  ┆ 13/06/2024 ┆ 13/06/202 ┆ 6a686ca3 ┆ … ┆ 191 หมู่4   ┆ 668139366 ┆ พ่อเป็นมะเร็ ┆ Canceled │
│           ┆ 00:00:00   ┆ 4         ┆          ┆   ┆ ต.เช้ือเพลิง ┆ 43        ┆ งตับ ไม่ต้อง ┆          │
│           ┆            ┆           ┆          ┆   ┆ (เย้ืองมห…  ┆           ┆ ใช้แล้ว     ┆          │
│ 01c667d3  ┆ 13/06/2024 ┆ 13/06/202 ┆ aa68c2ff ┆ … ┆ 290       ┆ null      ┆ ดึกแล้วรับขอ ┆ Canceled │
│           ┆ 00:00:00   ┆ 4         ┆          ┆   ┆ ซ.สิรินธร 2 ┆           ┆ งพรุ่งนี่     ┆          │
│           ┆            ┆           ┆          ┆   ┆ (แยก11)   ┆           ┆           ┆          │
│           ┆            ┆           ┆          ┆   ┆ ถ.สิรินธ…   ┆           ┆           ┆          │
│ 5c06532b  ┆ 09/07/2024 ┆ 09/07/202 ┆ d2e618a8 ┆ … ┆ 33 ซ.     ┆ 669792495 ┆ จัดส่งไม่สำเ ┆ Canceled │
│           ┆ 00:00:00   ┆ 4         ┆          ┆   ┆ สุขุมวิท 3   ┆ 95        ┆ ร็จ        ┆          │
│           ┆            ┆           ┆          ┆   ┆ แขวงคลองเ ┆           ┆           ┆          │
│           ┆            ┆           ┆          ┆   ┆ ตยเหนื…    ┆           ┆           ┆          │
│ 93af7caa  ┆ 07/08/2024 ┆ 07/08/202 ┆ 78742cf8 ┆ … ┆ เลขที่      ┆ 668590815 ┆ ผู้ป่วยเข้า   ┆ Canceled │
│           ┆ 00:00:00   ┆ 4         ┆          ┆   ┆ 178/87,   ┆ 82        ┆ รพ        ┆          │
│           ┆            ┆           ┆          ┆   ┆ เลคไซร์    ┆           ┆ กระทันหัน   ┆          │
│           ┆            ┆           ┆          ┆   ┆ เลน4      ┆           ┆           ┆          │
│           ┆            ┆           ┆          ┆   ┆ สนาม…     ┆           ┆           ┆          │
└───────────┴────────────┴───────────┴──────────┴───┴───────────┴───────────┴───────────┴──────────┘

## Change format of day

In [ ]:
from pandas.tseries.offsets import Day

df['Date'] = pd.to_datetime(df['Date'])

In [ ]:
df

NameError: name 'df' is not defined

## รวม data
Create new tables

## แยก data
Create new tables

In [ ]:
.drop_duplicates()

## Use Faker library to generate fake names

In [ ]:
!pip install faker

Requirement already satisfied: faker in /usr/local/lib/python3.10/dist-packages (25.2.0)
Requirement already satisfied: python-dateutil>=2.4 in /usr/local/lib/python3.10/dist-packages (from faker) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.4->faker) (1.16.0)
ERROR: Operation cancelled by user
Traceback (most recent call last):
  File "/usr/local/lib/python3.10/dist-packages/pip/_vendor/pkg_resources/__init__.py", line 3108, in _dep_map
    return self.__dep_map
  File "/usr/local/lib/python3.10/dist-packages/pip/_vendor/pkg_resources/__init__.py", line 2901, in __getattr__
    raise AttributeError(attr)
AttributeError: _DistInfoDistribution__dep_map

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/usr/local/lib/python3.10/dist-packages/pip/_vendor/pyparsing/core.py", line 817, in _parseNoCache
    loc, tokens = self.parseImpl(instring, pre_loc, doActions)
  File "/usr/local/lib/python3.10/dist-packages/pip/_vendor/pyparsing/core.py", line 3864, in parseImpl
    loc, resultlist = self.exprs[0]._parse(
  File "/usr/local/lib/python3.10/dist-packages/pip/_vendor/pyparsing/core.py", line 821, in _parseNoCache
    loc, tokens = self.parseImpl(instring, pre_loc, doActions)
  File "/usr/local/lib/python3.10/dist-packages/pip/_vendor/pyparsing/core.py", line 4375, in parseImpl
    return self.expr._parse(instring, loc, doActions, callPreParse=False)
  File "/usr/local/lib/python3.10/dist-packages/pip/_vendor/pyparsing/core.py", line 821, in _parseNoCache
    loc, tokens = self.parseImpl(instring, pre_loc, doActions)
  File "/usr/local/lib/python3.10/dist-packages/pip/_vendor/pyparsing/core.py", line 2348, in parseImpl
    raise ParseException(instring, loc, self.errmsg, self)
pip._vendor.pyparsing.exceptions.ParseException: Expected '(', found '<'  (at char 8), (line:1, col:9)

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/usr/local/lib/python3.10/dist-packages/pip/_internal/cli/base_command.py", line 169, in exc_logging_wrapper
    status = run_func(*args)
  File "/usr/local/lib/python3.10/dist-packages/pip/_internal/cli/req_command.py", line 242, in wrapper
    return func(self, options, args)
  File "/usr/local/lib/python3.10/dist-packages/pip/_internal/commands/install.py", line 441, in run
    conflicts = self._determine_conflicts(to_install)
  File "/usr/local/lib/python3.10/dist-packages/pip/_internal/commands/install.py", line 572, in _determine_conflicts
    return check_install_conflicts(to_install)
  File "/usr/local/lib/python3.10/dist-packages/pip/_internal/operations/check.py", line 101, in check_install_conflicts
    package_set, _ = create_package_set_from_installed()
  File "/usr/local/lib/python3.10/dist-packages/pip/_internal/operations/check.py", line 42, in create_package_set_from_installed
    dependencies = list(dist.iter_dependencies())
  File "/usr/local/lib/python3.10/dist-packages/pip/_internal/metadata/pkg_resources.py", line 216, in iter_dependencies
    return self._dist.requires(extras)
  File "/usr/local/lib/python3.10/dist-packages/pip/_vendor/pkg_resources/__init__.py", line 2821, in requires
    dm = self._dep_map
  File "/usr/local/lib/python3.10/dist-packages/pip/_vendor/pkg_resources/__init__.py", line 3110, in _dep_map
    self.__dep_map = self._compute_dependencies()
  File "/usr/local/lib/python3.10/dist-packages/pip/_vendor/pkg_resources/__init__.py", line 3120, in _compute_dependencies
    reqs.extend(parse_requirements(req))
  File "/usr/local/lib/python3.10/dist-packages/pip/_vendor/pkg_resources/__init__.py", line 3173, in __init__
    super(Requirement, self).__init__(requirement_string)
  File "/usr/local/lib/python3.10/dist-packages/pip/_vendor/packaging/requirements.py", line 102, in __init__
    req = REQUIREMENT.parseString(requirement_string)
  File "/usr/local/lib/python3.10/dist-packages/pip/_vendor/pyparsing/core.py", line 1131, in parse_string
    loc, tokens = self._parse(instring, 0)
  File "/usr/local/lib/python3.10/dist-packages/pip/_vendor/pyparsing/core.py", line 817, in _parseNoCache
    loc, tokens = self.parseImpl(instring, pre_loc, doActions)
  File "/usr/local/lib/python3.10/dist-packages/pip/_vendor/pyparsing/core.py", line 3886, in parseImpl
    loc, exprtokens = e._parse(instring, loc, doActions)
  File "/usr/local/lib/python3.10/dist-packages/pip/_vendor/pyparsing/core.py", line 817, in _parseNoCache
    loc, tokens = self.parseImpl(instring, pre_loc, doActions)
  File "/usr/local/lib/python3.10/dist-packages/pip/_vendor/pyparsing/core.py", line 4114, in parseImpl
    return e._parse(
  File "/usr/local/lib/python3.10/dist-packages/pip/_vendor/pyparsing/core.py", line 817, in _parseNoCache
    loc, tokens = self.parseImpl(instring, pre_loc, doActions)
  File "/usr/local/lib/python3.10/dist-packages/pip/_vendor/pyparsing/core.py", line 3864, in parseImpl
    loc, resultlist = self.exprs[0]._parse(
  File "/usr/local/lib/python3.10/dist-packages/pip/_vendor/pyparsing/core.py", line 817, in _parseNoCache
    loc, tokens = self.parseImpl(instring, pre_loc, doActions)
  File "/usr/local/lib/python3.10/dist-packages/pip/_vendor/pyparsing/core.py", line 3886, in parseImpl
    loc, exprtokens = e._parse(instring, loc, doActions)
  File "/usr/local/lib/python3.10/dist-packages/pip/_vendor/pyparsing/core.py", line 817, in _parseNoCache
    loc, tokens = self.parseImpl(instring, pre_loc, doActions)
  File "/usr/local/lib/python3.10/dist-packages/pip/_vendor/pyparsing/core.py", line 4959, in parseImpl
    loc, tokens = self_expr._parse(instring, loc, doActions, callPreParse=False)
  File "/usr/local/lib/python3.10/dist-packages/pip/_vendor/pyparsing/core.py", line 817, in _parseNoCache
    loc, tokens = self.parseImpl(instring, pre_loc, doActions)
  File "/usr/local/lib/python3.10/dist-packages/pip/_vendor/pyparsing/core.py", line 4114, in parseImpl
    return e._parse(
  File "/usr/local/lib/python3.10/dist-packages/pip/_vendor/pyparsing/core.py", line 817, in _parseNoCache
    loc, tokens = self.parseImpl(instring, pre_loc, doActions)
KeyboardInterrupt

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/usr/local/bin/pip3", line 8, in <module>
    sys.exit(main())
  File "/usr/local/lib/python3.10/dist-packages/pip/_internal/cli/main.py", line 79, in main
    return command.main(cmd_args)
  File "/usr/local/lib/python3.10/dist-packages/pip/_internal/cli/base_command.py", line 101, in main
    return self._main(args)
  File "/usr/local/lib/python3.10/dist-packages/pip/_internal/cli/base_command.py", line 223, in _main
    return run(options, args)
  File "/usr/local/lib/python3.10/dist-packages/pip/_internal/cli/base_command.py", line 207, in exc_logging_wrapper
    logger.debug("Exception information:", exc_info=True)
  File "/usr/lib/python3.10/logging/__init__.py", line 1465, in debug
    self._log(DEBUG, msg, args, **kwargs)
  File "/usr/lib/python3.10/logging/__init__.py", line 1624, in _log
    self.handle(record)
  File "/usr/lib/python3.10/logging/__init__.py", line 1634, in handle
    self.callHandlers(record)
  File "/usr/lib/python3.10/logging/__init__.py", line 1696, in callHandlers
    hdlr.handle(record)
  File "/usr/lib/python3.10/logging/__init__.py", line 968, in handle
    self.emit(record)
  File "/usr/lib/python3.10/logging/handlers.py", line 75, in emit
    logging.FileHandler.emit(self, record)
  File "/usr/lib/python3.10/logging/__init__.py", line 1218, in emit
    StreamHandler.emit(self, record)
  File "/usr/lib/python3.10/logging/__init__.py", line 1100, in emit
    msg = self.format(record)
  File "/usr/lib/python3.10/logging/__init__.py", line 943, in format
    return fmt.format(record)
  File "/usr/local/lib/python3.10/dist-packages/pip/_internal/utils/logging.py", line 112, in format
    formatted = super().format(record)
  File "/usr/lib/python3.10/logging/__init__.py", line 686, in format
    record.exc_text = self.formatException(record.exc_info)
  File "/usr/lib/python3.10/logging/__init__.py", line 636, in formatException
    traceback.print_exception(ei[0], ei[1], tb, None, sio)
  File "/usr/lib/python3.10/traceback.py", line 119, in print_exception
    te = TracebackException(type(value), value, tb, limit=limit, compact=True)
  File "/usr/lib/python3.10/traceback.py", line 502, in __init__
    self.stack = StackSummary.extract(
  File "/usr/lib/python3.10/traceback.py", line 383, in extract
    f.line
  File "/usr/lib/python3.10/traceback.py", line 306, in line
    self._line = linecache.getline(self.filename, self.lineno)
  File "/usr/lib/python3.10/linecache.py", line 30, in getline
    lines = getlines(filename, module_globals)
  File "/usr/lib/python3.10/linecache.py", line 46, in getlines
    return updatecache(filename, module_globals)
  File "/usr/lib/python3.10/linecache.py", line 136, in updatecache
    with tokenize.open(fullname) as fp:
  File "/usr/lib/python3.10/tokenize.py", line 396, in open
    encoding, lines = detect_encoding(buffer.readline)
  File "/usr/lib/python3.10/tokenize.py", line 365, in detect_encoding
    first = read_or_stop()
  File "/usr/lib/python3.10/tokenize.py", line 323, in read_or_stop
    return readline()
KeyboardInterrupt
^C

In [ ]:
from faker import Faker
fake = Faker()
customer_master['Name'] = customer_master['CustomerNo'].apply(lambda x: fake.name())

In [ ]:
customer_master

        CustomerNo         Country             Name
0          17490.0  United Kingdom   Joseph Collins
1          13069.0  United Kingdom  Leslie Reynolds
20         12433.0          Norway     Jeffrey Bond
84         13426.0  United Kingdom      James Evans
94         17364.0  United Kingdom      Cheryl Pena
...            ...             ...              ...
535301     16274.0  United Kingdom   Brittany Smith
535474     14142.0  United Kingdom     Kelli Holmes
535507     13065.0  United Kingdom    Kelsey Flores
536103     18011.0  United Kingdom   Jeffrey Nguyen
536155     17558.0  United Kingdom     Daniel Poole

[4739 rows x 3 columns]

## Summary

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 536350 entries, 0 to 536349
Data columns (total 6 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   TransactionNo  536350 non-null  object
 1   Date           536350 non-null  datetime64[ns]
 2   ProductNo      536350 non-null  object
 3   Price          536350 non-null  float64
 4   Quantity       536350 non-null  int64
 5   CustomerNo     536295 non-null  float64
dtypes: datetime64[ns](1), float64(2), int64(1), object(2)
memory usage: 24.6+ MB

In [ ]:
df.describe()

,Date,Price,Quantity,CustomerNo
count,536350,536350.000000,536350.000000,536295.000000
mean,2023-12-04 02:52:31.891116032,12.662182,9.919347,15227.893178
min,2023-05-03 00:00:00,5.130000,-80995.000000,12004.000000
25%,2023-08-28 00:00:00,10.990000,1.000000,13807.000000
50%,2023-12-20 00:00:00,11.940000,3.000000,15152.000000
75%,2024-03-20 00:00:00,14.090000,10.000000,16729.000000
max,2024-05-10 00:00:00,660.620000,80995.000000,18287.000000
std,NaN,8.490450,216.662300,1716.582932

# Step 3) Insert into Database

Insert ข้อมูลลงใน MySQL Database
- อ่าน Secrets ของ Colab (เก็บลง class Config)
- ใช้ Sqlalchemy เชื่อมต่อไปที่ MySQL
- สร้าง Schema (database)
- Insert ข้อมูลลงใน tables

## Getting Secrets

In [ ]:
from google.colab import userdata

class Config:
  MYSQL_HOST = userdata.get("MYSQL_HOST")
  MYSQL_PORT = userdata.get("MYSQL_PORT")
  MYSQL_USER = userdata.get("MYSQL_USER")
  MYSQL_PASSWORD = userdata.get("MYSQL_PASSWORD")
  MYSQL_DB = ''
  MYSQL_CHARSET = 'utf8mb4'

## Connect to MySQL

In [ ]:
!pip install pymysql

Collecting pymysql
  Downloading PyMySQL-1.1.1-py3-none-any.whl (44 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 45.0/45.0 kB 807.2 kB/s eta 0:00:00
Installing collected packages: pymysql
Successfully installed pymysql-1.1.1

In [ ]:
import sqlalchemy

engine = sqlalchemy.create_engine(
    "mysql+pymysql://{user}:{password}@{host}:{port}/{db}".format(
        user=Config.MYSQL_USER,
        password=Config.MYSQL_PASSWORD,
        host=Config.MYSQL_HOST,
        port=Config.MYSQL_PORT,
        db=Config.MYSQL_DB,
    )
)

In [ ]:
df

       TransactionNo       Date ProductNo  Price  Quantity  CustomerNo
0             581482 2024-05-10     22485  21.47        12     17490.0
1             581475 2024-05-10     22596  10.65        36     13069.0
2             581475 2024-05-10     23235  11.53        12     13069.0
3             581475 2024-05-10     23272  10.65        12     13069.0
4             581475 2024-05-10     23239  11.94         6     13069.0
...              ...        ...       ...    ...       ...         ...
536345       C536548 2023-05-03     22168  18.96        -2     12472.0
536346       C536548 2023-05-03     21218  14.09        -3     12472.0
536347       C536548 2023-05-03     20957  11.74        -1     12472.0
536348       C536548 2023-05-03     22580  16.35        -4     12472.0
536349       C536548 2023-05-03     22767  20.45        -2     12472.0

[536350 rows x 6 columns]

**Tables:**
- transaction
- customer
- product

## Create Schema

In [ ]:
schema_name = "elgo"

with engine.connect() as connection:
    connection.execute(sqlalchemy.text(f"CREATE DATABASE IF NOT EXISTS {schema_name};"))

OperationalError: (pymysql.err.OperationalError) (1044, "Access denied for user 'r2de3'@'%' to database 'r2de3'")
[SQL: CREATE DATABASE IF NOT EXISTS r2de3;]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

## Insert to tables

In [ ]:
df.to_sql(
    '',        # Name of the table to be created
    con=engine,           # SQLAlchemy engine connection
    schema=schema_name,   # Database name
    if_exists='replace',  # 'fail', 'replace', or 'append'
    index=False,          # Whether to include the DataFrame's index as a column
    chunksize=1000,       # Number of rows to insert in each chunk (for large DataFrames)
)

536350

# Step 4) Query and save output files

Query ข้อมูลใน table และเซฟไฟล์ output
- Query ข้อมูลด้วย Pandas
- Output ไฟล์เป็น parquet

## Query

In [ ]:
sql = "SELECT * FROM "
 = pd.read_sql_query(sql, engine)

      CustomerNo         Country            Name
0        17490.0  United Kingdom    Sara Griffin
1        13069.0  United Kingdom    Michael Holt
2        12433.0          Norway  Kelli Sandoval
3        13426.0  United Kingdom   Dalton Graves
4        17364.0  United Kingdom  Michelle James
...          ...             ...             ...
4734     16274.0  United Kingdom     Megan Young
4735     14142.0  United Kingdom   Luke Williams
4736     13065.0  United Kingdom      Lisa Jones
4737     18011.0  United Kingdom   Kelly Jenkins
4738     17558.0  United Kingdom   Scott Johnson

[4739 rows x 3 columns]

## Save to Parquet files

In [ ]:
df.to_parquet(".parquet", index=False)